:root {
  --primary-color: #5055b1;
  --background-gray: #f5f5f5;
  --secondary-background: #bdc0e1;
  --text-color: black;
  --secondary-color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* globals */
.container {
  max-width: 1140px;
  width: 90%;
  display: flex;
}

.main-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.2rem;
}

.section-title {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
}

.secondary-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.8rem;
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 2rem;
  padding: 0.8rem 2rem 0.8rem 2rem;
  font-weight: 500;
  font-family: inherit;
  transition: 0.3s linear;
  border: 3px solid var(--primary-color);
}

.primary-button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.secondary-button {
  background-color: transparent;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 2rem;
  padding: 0.8rem 2rem 0.8rem 2rem;
  font-weight: 500;
  font-family: inherit;
  width: fit-content;
  transition: 0.3s linear;
}

.secondary-button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);
}

.left-inner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 1.5rem;
}

.right-inner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.right-inner-section img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  object-position: center;
  object-fit: cover;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: white;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 1140px;
  width: 90%;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
}

.logo {
  width: 50px;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.hamberger-menu {
  width: 25px;
  height: 25px;
  display: none;
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 15rem 0rem 15rem 0rem;
  background: linear-gradient(
    to bottom,
    rgba(80, 85, 177, 0.53) 0%,
    white 100%
  );
}

.hero .container {
  position: relative;
  justify-content: center;
  flex-direction: column;
}

.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 70%;
  z-index: 10;
}

.hero-action-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-action-container a {
  font-size: 1.1rem;
  color: var(--primary-color);
  transition: 0.2s all ease;
}

.hero-action-container a:hover {
  font-weight: 600;
}

.hero-conatct-button {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
}

.hero-conatct-button svg {
  fill: var(--secondary-color);
}

.hero-conatct-button:hover svg {
  fill: var(--primary-color);
}

.hero-image-section {
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 0;
  display: flex;
  justify-content: end;
}

.hero-image-section img {
  width: 20vw;
  min-width: 400px;
}

.company-name {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
}

/* Analytics Section */
.analytics {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0rem 0 3rem 0;
}
.analytics .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--primary-color);
  border-radius: 2rem;
}

.analytics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  color: var(--secondary-color);
}

.analytics-container p {
  text-align: center;
}
/* About Section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 5rem 0 5rem 0;
}

.about .container {
  gap: 3rem;
}

/* Services Section */
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 5rem 0 5rem 0;
  background-color: var(--background-gray);
}

.services .container {
  flex-direction: column;
}

.service-description-container {
  display: flex;
  align-items: center;
  align-items: stretch;
  gap: 3rem;
}

.service-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  width: 100%;
  padding: 5rem 0 0 0;
}

.service-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 0.2s linear;
}

.icon-covers {
  position: relative;
  width: fit-content;
  height: fit-content;
  transition: 0.2s linear;
}

.icon-covers span {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-color: var(--secondary-color);
  display: grid;
  place-items: center;
  z-index: 5;
  transition: 0.2s linear;
}

.icon-covers span svg {
  stroke: var(--primary-color);
  transition: 0.2s linear;
}

.icon-covers span #ai {
  stroke: none;
  fill: var(--primary-color);
  transition: 0.2s linear;
}

.icon-covers span:nth-child(1) {
  position: absolute;
  background-color: var(--primary-color);
  z-index: 1;
  transform: translateX(1rem);
  transition: 0.2s linear;
}

.service-title {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}

/* service icon's hover effects */
.service-icon:hover .icon-covers span:nth-child(2) {
  background-color: var(--primary-color);
}

.service-icon:hover .icon-covers span:nth-child(1) {
  background-color: var(--secondary-color);
}

.service-icon:hover .icon-covers span svg {
  stroke: var(--secondary-color);
}

.service-icon:hover .icon-covers span #ai {
  fill: var(--secondary-color);
}

/* Testimonials section */
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 5rem 0 5rem 0;
}

.testimonials .container {
  flex-direction: column;
  align-items: center;
  max-width: none;
  width: 100%;
  gap: 2rem;
}

/* Contact Section */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 5rem 0 5rem 0;
}

.contact .container {
  background-color: var(--primary-color);
  border-radius: 1.5rem;
  padding: 3rem;
}

.contact .container .section-title,
.contact .container .secondary-title,
.contact .container p {
  color: var(--secondary-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
  align-items: start;
}

.contact-form input,
.contact-form textarea {
  border-radius: 1.5rem;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  font-family: inherit;
  color: var(--text-color);
  width: 100%;
}

.form-name-fields {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form-name-fields input {
  width: 50%;
}
/* Footer Section */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 5rem 0 1rem 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer .container {
  flex-direction: column;
}

.footer-info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-bottom: 1rem;
}

.quick-links,
.footer-services,
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quick-links h3,
.footer-services h3,
.footer-contacts h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.footer-contacts ul,
.quick-links ul,
.footer-services ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-contacts ul li a {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.company-info img {
  width: 100px;
}

.company-info p {
  width: 50%;
}

.social-media-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.copy-right-text {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
  border-top: 1px solid var(--secondary-color);
}

.mobile-menu {
  display: none;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 85%;
  }

  .main-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .secondary-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .left-inner-section {
    width: 100%;
  }

  .right-inner-section {
    width: 100%;
  }

  .nav-link-container {
    display: none;
  }

  .hamberger-menu {
    position: relative;
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 50;
    stroke-width: 1.8px;
  }

  .hero {
    padding: 10rem 0 6rem 0;
  }

  .hero-description {
    width: 85%;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.315);
    padding: 2rem;
    border-radius: 1.5rem;
  }

  .hero-image-section img {
    width: 30vw;
    min-width: 300px;
  }

  .analytics .container {
    grid-template-columns: 1fr 1fr;
  }

  .service-description-container {
    flex-direction: column;
    gap: 2rem;
  }

  .service-card-container {
    gap: 2rem;
  }

  .contact .container {
    gap: 3rem;
  }

  .footer-info {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .company-info p {
    width: 100%;
  }

  .social-media-icons {
    justify-content: center;
  }

  /* mobile menu */
  .mobile-menu {
    position: absolute;
    display: none;
    justify-content: end;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 100;
  }

  .mobile-menu-container {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    max-width: 500px;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    transition: 0.3s all ease;
  }

  .close-button-container {
    display: flex;
    justify-content: end;
    padding: 2rem;
  }
  .close-button {
    width: 2.5rem;
    height: 2.5rem;
  }

  .mobile-menu-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .mobile-menu-content hr {
    background-color: var(--primary-color);
    height: 2px;
    width: 100%;
  }

  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mobile-nav-link-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 90%;
    padding: 0 1rem;
  }

  .main-title {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .secondary-title {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .left-inner-section {
    width: 100%;
  }

  .right-inner-section {
    width: 100%;
  }

  .nav-link-container {
    display: none;
  }

  .hamberger-menu {
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    z-index: 50;
    stroke-width: 1.8px;
  }

  .hero {
    padding: 10rem 0 6rem 0;
  }

  .hero {
    flex-direction: column;
    padding: 10rem 0 8rem 0;
    height: auto;
  }

  .hero-description {
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
  }

  .company-name {
    font-size: 1.5rem;
  }

  .hero-action-container {
    flex-direction: column;
    align-items: start;
  }

  .hero-image-section img {
    display: none;
    width: 80%;
  }

  .analytics .container {
    width: 80%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .service-description-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .service-card-container {
    flex-direction: column;
    gap: 2rem;
  }

  .contact .container {
    padding: 1.5rem;
    gap: 2rem;
  }

  .contact-form {
    padding: 1rem;
  }

  .form-name-fields {
    flex-direction: column;
    gap: 1rem;
  }
  .form-name-fields input {
    width: 100%;
  }

  .footer-info {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .company-info p {
    width: 100%;
  }

  .social-media-icons {
    justify-content: center;
  }

  .copy-right-text {
    font-size: 0.9rem;
  }

  /* mobile menu */
  .mobile-menu {
    position: absolute;
    display: none;
    justify-content: end;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 100;
  }

  .mobile-menu-container {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.3s all ease;
  }

  .close-button-container {
    display: flex;
    justify-content: end;
    padding: 2rem;
  }
  .close-button {
    width: 2.5rem;
    height: 2.5rem;
  }

  .mobile-menu-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .mobile-menu-content hr {
    background-color: var(--primary-color);
    height: 2px;
    width: 100%;
  }

  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mobile-nav-link-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
